/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .custom-title-header {
    position: relative;
    padding-right: 20px;
  }

  .custom-title-header::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background-image: url("../src/icons/chevDown.png");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: -1;
  }
}
